.page-content {
  padding-top: 80px;
}

.settings-single-block {
  margin-bottom: 50px;
}

.settings-search-input {
  padding: 8px 25px !important;
  background-color: #303f9f;
}

.website-scene-add-bookmark-button {
  float: right;
  margin-top: 20px !important;
}

.no-underlying {
  text-decoration: none;
}

.avatar-img {
  &:hover {
    border: #303f9f 4px solid;
    cursor: pointer;
  }
}

.selected-avatar-img {
  border: #303f9f 4px solid;
}

body {
  //-moz-transform: scale(1.5); // FOR FIRE FOX
  //zoom: 150% // FOX CHROME

}